.box{
    width: 700px;
    height: 400px;
    border: 4px solid indigo;
    background-color:rgb(190, 138, 238);
    color:black;
   /* font-size: medium;
    text-decoration: underline;*/
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}
img {
    margin-top: 50px ;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 400px;
}
#div{
    margin-top: 50px ;
    width: 300px;
    height: fit-content;
    font-size: x-small;
    text-align: justify;
}