.box{
    margin-top: 20px;
    width:700px;
    height: 400px;
    border: 4px solid rgb(22, 3, 148);
    background-color:rgb(132, 170, 241);
    color:black;
    display: flex;
    justify-content: space-around;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 /*   font-size: small;
    text-decoration: dashed;*/
}
img {
    margin-top: 50px ;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 400px;
}
#div{
    margin-top: 50px ;
    width: 300px;
    height: fit-content;
    font-size: x-small;
    text-align: justify;
}